<div class="back-btn" (click)="toPanel()">
    <span>Voltar ao painel de projetos</span>
</div>
<div class="container-fluid row">
    <div class="register-menu col-3">
        <div class="fases">
            <button class="btn fase-btn" [ngClass]="{'selected': menuLateral == 0}" #1 (click)="menuLateral = 0">Ordem de serviço
            </button>
            <button class="btn fase-btn" [ngClass]="{'selected': menuLateral == 1}" #2 (click)="menuLateral = 1">Necessidades
            </button>
            <button class="btn fase-btn" [ngClass]="{'selected': menuLateral == 2}" #3 (click)="menuLateral = 2">Topografia</button>
            <button class="btn fase-btn" [ngClass]="{'selected': menuLateral == 3}" #4 (click)="menuLateral = 3">Anteprojeto
            </button>
            <button class="btn fase-btn" [ngClass]="{'selected': menuLateral == 4}" #5 (click)="menuLateral = 4">Projeto
                Executivo
            </button>
        </div>

    </div>

    <div class="register-body col-9">

        <!-- 

            INICIO DOS CAMPOS DE CRIAÇÃO DO PROJETO - FASE 0

         -->
        <div class="projeto" *ngIf="menuLateral == 0">
            <h3>Insira os dados de um novo projeto</h3>

            <form (ngSubmit)="newProjeto(registerForm)" #registerForm="ngForm">
                <div class="form-container">
                    <h5>Detalhes do projeto</h5>
                    <hr>
                    <div class="form-row">
                        <div class="form-group col-4">
                            <label for="projNome">
                                Nome do projeto
                            </label>
                            <input type="text" class="form-control outline" required name="projNome" id="projNome"
                                placeholder="Nome" [(ngModel)]="projetoNovo.nome" #projNome="ngModel">
                        </div>
                        <div class="form-group col-5">
                            <label for="endereco">
                                Endereço
                            </label>
                            <input type="text" class="form-control outline" required name="endereco" id="endereco"
                                placeholder="Endereço" [(ngModel)]="projetoNovo.endereco" #endereco="ngModel">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="descNome">
                                Descrição do projeto
                            </label>
                            <textarea type="text" class="form-control outline" required name="descNome" id="descNome"
                                placeholder="Descrição do projeto" [(ngModel)]="projetoNovo.descricao"
                                #descNome="ngModel"></textarea>
                        </div>
                    </div>
                </div>

                <div class="form-container">
                    <h5>Dados do cliente</h5>
                    <hr>
                    <div class="fom-row">
                        <div class="form-row">
                            <div class="form-group col-5" *ngIf="!addClienteBtn">
                                <label for="addClienteId">Email do cliente no Devise</label>
                                <input type="text" class="form-control outline" required name="addClienteId"
                                    id="addClienteId" placeholder="E-mail do cliente" #addClienteId>
                                <button type="button" class="btn add-cliente-btn"
                                    (click)="toggleAddCliForm()">Adicionar</button>
                                <button type="button" class="btn " (click)="toggleAddCliForm()">Cancelar</button>
                            </div>
                        </div>
                    </div>

                    <div class="form-row" *ngIf="addClienteBtn">
                        <div class="form-group col-4">
                            <label for="nomeCliente">Nome do cliente</label>
                            <input type="text" class="form-control outline" required name="nomeCliente" id="nomeCliente"
                                placeholder="Nome do cliente" [(ngModel)]="projetoNovo.nomeCliente" #nomeCliente>
                        </div>
                        <div class="form-group col-5">
                            <label for="enderecoCliente">Endereço do cliente</label>
                            <input type="text" class="form-control outline" required name="enderecoCliente"
                                id="enderecoCliente" placeholder="Nome do cliente"
                                [(ngModel)]="projetoNovo.enderecoCliente" #enderecoCliente>
                        </div>
                        <div class="form-group col-3">
                            <label for="emailCliente">E-mail do cliente</label>
                            <input type="text" class="form-control outline" required name="emailCliente"
                                id="emailCliente" placeholder="E-mail do cliente" [(ngModel)]="projetoNovo.emailCliente"
                                #emailCliente>
                        </div>

                        <div class="form-group col-4" *ngIf="addClienteBtn">
                            <button type="button" class="btn add-cliente-btn" (click)="toggleAddCliForm()">Adicionar
                                cliente da
                                plataforma</button>
                        </div>
                    </div>
                </div>

                <div class="form-container">
                    <div class="form-row">
                        <div class="form-group col-3">
                            <label for="orcamento">Orçamento estimado</label>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">R$</div>
                                </div>
                                <input type="number" class="form-control outline" required name="orcamento"
                                    id="orcamento" [(ngModel)]="projetoNovo.orcamento" #orcamento>
                            </div>
                        </div>
                        <div class="form-group col-3">
                            <label for="dataOrdemServico">Data da ordem de serviço</label>
                            <input type="date" class="form-control outline" required name="dataOrdemServico"
                                id="dataOrdemServico" placeholder="Largura em metros"
                                [(ngModel)]="projetoNovo.dataOrdemServico" #dataOrdemServico>
                        </div>

                    </div>
                    <div class="form-row">
                        <div class="form-group col-3">
                            <label for="metrageX">Largura do terreno</label>
                            <input type="text" class="form-control outline" required name="metrageX" id="metrageX"
                                placeholder="Largura em metros" [(ngModel)]="projetoNovo.metragemX" #metrageX>
                        </div>
                        <div class="form-group col-3">
                            <label for="metrageZ">Comprimento do terreno</label>
                            <input type="text" class="form-control outline" required name="metrageZ" id="metrageZ"
                                placeholder="Comprimento em metros" [(ngModel)]="projetoNovo.metragemZ" #metrageZ>
                        </div>
                        <div class="col-1" *ngIf="projetoNovo.metragemX && projetoNovo.metragemZ">
                            <label for="metrage-total">Total</label>
                            <div class="mmetragem-total">
                            </div>
                            <input type="text" value="{{projetoNovo.metragemX * projetoNovo.metragemZ}}m²"
                                class="form-control">
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn new-proj-btn outline">Registrar projeto</button>
            </form>
        </div> <!-- FIM DA CRIAÇÃO DO PROJETO -->


        <!-- 

            INICIO DOS CAMPOS DE CRIAÇÃO DE NECESSIDADES - FASE 1

         -->
        <div class="necessidades" *ngIf="menuLateral == 1">
            <!-- <div class="tab-panel">
                <button class="btn tab-btns outline" [ngClass]="{'selected': nescessidade == 0}"
                    (click)="nescessidade = 0">Moradia</button>
                <button class="btn tab-btns outline" [ngClass]="{'selected': nescessidade == 1}"
                    (click)="nescessidade = 1">Parte externa</button>
                <button class="btn tab-btns outline" [ngClass]="{'selected': nescessidade == 2}"
                    (click)="nescessidade = 2">Parte interna</button>
            </div> -->

            <!-- FASE 1 MORADIA -->
            <div class="moradia">
                <h3>Dados gerais de necessidades</h3>
                <form #moradia name="moradia" id="moradia" (ngSubmit)="addMoradia(clima.value, freqUso.value)"
                    #moradia="ngForm">
                    <div class="row form-container">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12">
                                    <h5>
                                        Detalhes sobre a moradia
                                    </h5>
                                    <hr>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-4">
                                    <label for="clima">Informe o clima do local</label>
                                    <input type="text" class="form-control outline" required name="clima" id="clima"
                                        [(ngModel)]="fase1.clima" #clima="ngModel" placeholder="Informe o clima">

                                </div>
                                <div class="form-group col-8">
                                    <label for="freqUso">Frequência de uso dos moradores</label>
                                    <input type="text" class="form-control outline" required name="freqUso" id="freqUso"
                                        [(ngModel)]="fase1.freqUso" #freqUso="ngModel"
                                        placeholder="Frequência de uso dos moradores">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row form-container">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12">
                                    <h5>
                                        Detalhes sobre os moradores
                                    </h5>
                                    <hr>
                                </div>
                            </div>

                            <!-- listagem de pessoas -->
                            <div class="row ">
                                <div class="col-12">
                                    Lista de moradores:
                                </div>
                            </div>
                            <div class="list-panel">
                                <div class="row" *ngFor="let morador of fase1.pessoas">
                                    <div class="col-3">
                                        <p>Tipo: {{morador.tipo}}</p>
                                    </div>


                                    <div class="col-7">
                                        <p>Descrição: {{morador.descricao}}</p>
                                    </div>
                                    <div class="col-2">
                                        <button type="button" (click)="rmMorador(morador.tipo)"
                                            class="btn rm-elemento">Remover</button>
                                    </div>
                                </div>
                            </div>

                            <!-- registro de pessoa -->
                            <div class="form-row">
                                <div class="form-group col-4">
                                    <label for="pesTipo">Tipo especial de morador</label>
                                    <input type="text" class="form-control outline"  name="pesTipo" id="pesTipo"
                                        [(ngModel)]="pessoa.tipo" #pesTipo="ngModel"
                                        placeholder="Tipo especial de integrante">
                                </div>
                                <div class="form-group col-8">
                                    <label for="pesDescricao">Descrição</label>
                                    <input type="text" class="form-control outline"  name="pesDescricao"
                                        id="pesDescricao" [(ngModel)]="pessoa.descricao" #pesDescricao="ngModel"
                                        placeholder="Descrição">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-3">
                                    <button type="button" class="btn add-cliente-btn"
                                        (click)="addMorador()">Adicionar</button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- FASE 1 - PARTE EXTERNA -->
                    <div class="row form-container">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12">
                                    <h5>
                                        Detalhes sobre a parte exterior
                                    </h5>
                                    <hr>
                                </div>
                            </div>

                            <!-- FASE 1 - lista de elementos já cadastrados - parte externa -->
                            <div class="row ">
                                <div class="col-12">
                                    Partes externas:
                                </div>
                            </div>
                            <div class="list-panel">
                                <div class="row" *ngFor="let pExterna of fase1.externo">
                                    <div class="col-3">
                                        <p>Tipo: {{pExterna.tipo}}</p>
                                    </div>


                                    <div class="col-7">
                                        <p>Descrição: {{pExterna.descricao}}</p>
                                    </div>
                                    <div class="col-2">
                                        <button type="button" (click)="rmPExterna(pExterna.tipo)"
                                            class="btn rm-elemento">Remover</button>
                                    </div>
                                </div>
                            </div>

                            <!-- FASE 1 - formularios de registro part externa -->
                            <div class="parte-externa-form">
                                <div class="form-row">
                                    <div class="form-group col-12">
                                        <label for="ptExterna">Tipo</label>
                                        <input type="text" class="form-control outline"  name="ptExterna"
                                            id="ptExterna" [(ngModel)]="parteExterna.tipo" #ptExterna="ngModel"
                                            placeholder="Tipo">
                                    </div>

                                </div>
                                <div class="form-row">
                                    <div class="form-group col-12">
                                        <label for="descExterna">Descrição</label>
                                        <textarea type="text" class="form-control outline"  name="descExterna"
                                            id="descExterna" [(ngModel)]="parteExterna.descricao" #descExterna="ngModel"
                                            placeholder="Descrição"></textarea>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-3">
                                        <button type="button" class="btn add-cliente-btn"
                                            (click)="addPExterna()">Adicionar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- FASE 1 - PARTE INTERNA -->
                    <div class="row form-container">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12">
                                    <h5>
                                        Detalhes sobre a parte interior
                                    </h5>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-12">
                                    Partes internas:
                                </div>
                            </div>
                            <div class="list-panel">
                                <div class="row" *ngFor="let ptInterna of fase1.interno">
                                    <div class="col-3">
                                        <p>Tipo: {{ptInterna.tipo}}</p>
                                    </div>


                                    <div class="col-7">
                                        <p>Descrição: {{ptInterna.descricao}}</p>
                                    </div>
                                    <div class="col-2">
                                        <button type="button" (click)="rmPInterna(ptInterna.tipo)"
                                            class="btn rm-elemento">Remover</button>
                                    </div>
                                </div>
                            </div>

                            <!-- formularios parte interna -->
                            <div class="form-row">
                                <div class="form-group col-12">
                                    <label for="ptInterna">Tipo de cômodo</label>
                                    <input type="text" class="form-control outline"  name="ptInterna"
                                        id="ptInterna" [(ngModel)]="parteInterna.tipo" #ptInterna="ngModel"
                                        placeholder="Tipo de cômodo">
                                </div>

                            </div>
                            <div class="form-row">
                                <div class="form-group col-12">
                                    <label for="descInterna">Descrição</label>
                                    <textarea type="text" class="form-control outline"  name="descInterna"
                                        id="descInterna" [(ngModel)]="parteInterna.descricao" #descInterna="ngModel"
                                        placeholder="Descrição"></textarea>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-3">
                                    <button type="button" class="btn add-cliente-btn"
                                        (click)="addPInterna()">Adicionar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn new-proj-btn outline">Registrar necessidades</button>
                </form>
            </div>
        </div> <!-- FIM DE NECESSIDADES -->

        <!-- 

            INICIO DOS CAMPOS DE CRIAÇÃO DE DADOS TOPOGRÁFICO - FASE 2

         -->
        <div class="topografia" *ngIf="menuLateral == 2">

            <div class="tab-panel">
                <button class="btn tab-btns outline" [ngClass]="{'selected ': topografia == 0}"
                    (click)="topografia = 0">Dados topográficos</button>
                <button class="btn tab-btns outline" [ngClass]="{'selected ': topografia == 1}"
                    (click)="topografia = 1">Estruturas existentes</button>
            </div>

            <!-- FASE 2 - DADOS TOPOGRÁFICOS -->
            <div class="dados-topograficos" *ngIf="topografia == 0">
                <form #dadosTopograficos name="dadosTopograficos" id="dadosTopograficos">
                    <div class="detalhes-panel">
                        <div class="detalhes-h">
                            <h5>Informa os dados topográficos</h5>
                        </div>

                        <div class="detalhes-body">
                            <div class="d-header row">
                                <span class="col-3">Tipo</span>
                                <span class="col-5">Descrição</span>
                            </div>

                            <div class="detalhes-items row">
                                <div class="form-group col-3">
                                    <select type="text" class="form-control outline" required name="tipoIntegrante"
                                        id="tipoIntegrante" #tipoIntegrante>
                                        <option value="Coordenadas">Coordenadas</option>
                                        <option value="Relevo">Relevo</option>
                                        <option value="CurvasDeNiveis">Curvas de níveil</option>
                                        <option value="PerfilLongitudinal">Perfil longitudinal</option>
                                        <option value="SecoesTransversais">Seções transversais</option>
                                        <option value="AcidentesGeograficos">Acidentes gergráfi</option>
                                    </select>
                                </div>
                                <div class="form-group col-7">
                                    <input type="text" class="form-control outline" placeholder="Descrição" required
                                        name="descricaoIntegrante" id="descricaoIntegrante" #descricaoIntegrante>
                                </div>
                                <div class="col-2">
                                    <button class="btn del-integrante outline" title="Remover Item">X</button>
                                </div>
                                <button type="submit" class="btn new-proj-btn outline">Registrar</button>

                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <!-- FASE 2 - ESTRUTURAS EXISTENTES -->
            <div class="estruturas-existentes" *ngIf="topografia == 1">
                <form #estruturasExistentes name="estruturasExistentes">
                    <div class="detalhes-panel">
                        <div class="detalhes-h">
                            <h5>Estruturas existentes no local</h5>
                            <!-- 
                            <button class="btn add-integrante outline">Adicionar detalhe</button> -->
                        </div>

                        <div class="detalhes-body">
                            <div class="d-header row">
                                <span class="col-3">Tipo</span>
                                <span class="col-5">Descrição</span>
                            </div>

                            <div class="detalhes-items row">
                                <div class="form-group col-3">
                                    <select type="text" class="form-control outline" required name="tipoIntegrante"
                                        id="tipoIntegrante" #tipoIntegrante>
                                        <option value="Muro">Muro</option>
                                        <option value="Poço">Poço</option>
                                        <option value="Arvore">Árvore</option>
                                        <option value="Calcada">Calçada</option>
                                        <option value="Estrada">Estrada</option>
                                        <option value="Ruinas">Ruínas</option>
                                        <option value="Monumentos">Monumentos</option>
                                        <option value="Ruinas">Ruínas</option>
                                        <option value="Ruinas">Ruínas</option>
                                    </select>
                                </div>
                                <div class="form-group col-7">
                                    <input type="text" class="form-control outline" placeholder="Descrição" required
                                        name="descricaoIntegrante" id="descricaoIntegrante" #descricaoIntegrante>
                                </div>
                                <div class="col-2">
                                    <button class="btn del-integrante outline" title="Remover Item">X</button>
                                </div>
                                <button type="submit" class="btn new-proj-btn outline">Registrar</button>

                            </div>
                        </div>
                    </div>
                </form>
            </div><!-- FIM DE DADOS TOPOGRÁFICOS -->
        </div>
    </div>