/* 
        Regras das classes do carrousel
*/
/* .carousel{
    position: relative;
    width: 100%;
    height: 600px;
    margin: 0px auto;
    box-sizing: border-box;
}
.carousel-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.carousel-track-container{
    height: 100%;
    position: relative;
    overflow: hidden;
}
.carousel-track{
    padding: 0px;
    margin: 0px;
    list-style: none;
}
.carousel-slide{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}
.carousel-btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: 0px;
    padding: 20px;
    font-size: 50px;
    height: 100%;
    width: 150px;
    transition: background 350ms;
    color: rgb(240, 240, 240);
}

.c-b-left{
    right: 93%;
    z-index: 1;
}
.c-b-right{
    left: 93%;
    z-index: 1;
}
.c-b-right:hover{
    background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, .50))
}
.c-b-left:hover{
    background-image: linear-gradient(to left, transparent, rgba(0, 0, 0, .50))

}
.carousel-nav{
    position: absolute;
    width: 100%;
    height: 10%;
    bottom: 0px;
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, .50));
    display: flex;
    justify-content: center;
    padding: 10px 0px;
}
.carousel-indicator{
    border: 0px;
    width: 80px;
    height: 7px;
    background: rgb(240, 240, 240);
    margin: 0px 10px;
    border-radius: 20px;
}
.carousel-indicator.curent-slide{
    background: rgba(0, 0, 0, .75);
} */
/* 
        Regras das classes do label principal (Profissionais em destaque)
*/
/* .main-label{
    width: 100%;
    font-family: "MuseoSans";
    font-size: 25px;
    margin: 0px 18px;
} */


/* 
        Regras das clases dos card de divulgação para cada projeto
*/
/* .container-panel{
    padding: 50px;
    margin: 30px auto;
}
.container-fluid{
    margin: 0px;
    padding: 0px;
} */
*{
    box-sizing: border-box;
}

.body-container{
    background: pink;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    
}