<div class="user-page-container">
  <div class="user-side-menu">
    <a>Projetos</a>
    <a>Equipe</a>
    <a>Clientes</a>
    <a>Documentos</a>
  </div>

  <div class="user-panel">
    <div class="proj-panel">
      <form (ngSubmit)="nProjeto(novoProjeto)" #novoProjeto="ngForm">
        <div class="form-group">
          <label for="nomeProjeto">Nome do novo Projeto</label>
          <input type="text" class="form-control" required name="nomeProjeto" id="nomeProjeto"
            placeholder="Nome do novo Projeto" [(ngModel)]="atualProjeto.nome" #nomeProjeto='ngModel'>
        </div>
        <div class="form-group">
          <label for="descricaoProjeto">Descricao do Projeto</label>
          <textarea type="text" class="form-control" required name="descricaoProjeto" id="descricaoProjeto"
            placeholder="Descreva o novo projeto" [(ngModel)]="atualProjeto.descricao"
            #descricaoProjeto='ngModel'></textarea>
        </div>

        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="tipoConstrucao">Escolha o tipo de construção</label>
            <select class="custom-select" required id="tipoConstrucao" name="tipoConstrucao" #tipoCostrucao>
              <option value="0">JK</option>
              <option value="1">Flet</option>
              <option value="2">Kitnet</option>
              <option value="3">Casa comum</option>
              <option value="4">Casa duplex</option>
              <option value="5">Casa triplex</option>
              <option value="6">Loft</option>
              <option value="7">Edicula</option>
            </select>
          </div>

          <div class="form-row col-md-4">
            <div class="form-group">
              <label for="metragem">Metragem em m²</label>
              <input type="text" class=form-control required name="metragem" id="metragem" placeholder="Metragem em m²" #metragem>
            </div>
          </div>
          <div class="form-row col-md-4">
            <div class="form-group">
              <label for="qdtComodos">Informe a quantidade de comodos</label>
              <input type="number" class=form-control required name="qdtComodos" id="qdtComodos" placeholder="Quantidade de comodos" #qdtComodos>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-lg btn-primary" >Cadatrar novo projeto</button>

      </form>
    </div>
  </div>
</div>