<div class="header-bar">
  <div class="app-main-info">
    <img src="../../assets/img//logo.png" alt="Devise logo" class="logo" (click)="toMain()">
    <span class="brand">Soluções em arquitetos e desiners de interiores</span>
  </div>
  
  <div class="search-bar">
    <input type="text" class="form-control" placeholder="Pesquisar">
  </div>

  <div class="main-side-btns" *ngIf="!visible">
    <button class="btn btn-medium btn-primary">Entrar</button>
    <button class="btn btn-medium btn-secondary" (click)="callForm()" >Cadastre-se</button>
  </div>
</div>
