/* Barra superios (main) do site */
*{
    font-family: "MuseoSans";
    box-sizing: border-box;
}

.header{
    position: fixed;
    display: flex;
    width: 100vw;
    height: 80px;
    background: rgb(160, 160, 160);
    padding: 20px 40px;
    z-index: 5;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    align-items: center;
    justify-content: space-between;
}
.logo{
    height: 40px;
    width: 98px;
}
.header-items{
    display: flex;
    flex-direction: row;
}

a:not([href]){
    color: white;
    font-weight: bold;
    margin-right: 10px;
}

.login{
    position: relative;
    color: rgb(204, 203, 203);
    font-weight: bold;
}
.login::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    transform: scaleX(0);
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform .3s cubic-bezier(1,.25,0,.75)

}
.login:hover::before{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.register{
    color: white;
    transition:  background .25s ease-in-out;
}

.register:hover{
    
    background: white;
}
