<div class="main-container">
  <img alt="" srcset="" class="form-background">

  <div class="form-container">

    <div class="form-info-panel">
      <h1>Encontre o profissional arquiteto ou designer de interiores mais próximo de você!</h1>
    </div>

    <div class="sing-up-form-panel">
      <h1 class="form-call">Registre-se no Devise!</h1>
      <div class="input-panel">
        <div class="input-group">
          <div class="col">
            <div class="form-row">
              <input type="text" class="form-control" placeholder="Nome">

            </div>

            <div class="row">
              <div class="form-group col-md-6">
                <input type="text" class="form-control" placeholder="Estado">

              </div>
              <div class="form-group col-md-6 ">
                <input type="text" class="form-control" placeholder="Cidade">

              </div>

            </div>

            <div class="row">
              <input type="email" class="form-control" placeholder="E-mail">

            </div>

            <div class="row">
              <input type="password" class="form-control" placeholder="Senha">

            </div>

            <div class="row">
              <input type="password" class="form-control" placeholder="Confirmar senha">

            </div>
          </div>
        </div>

        <div class="easy-sing-panel"></div>
      </div>
    </div>

  </div>
</div>