<!-- ABAIXO, PARA DESENVOLVER  -->

<div class="carousel">
  <!-- carousel ainda não funcionando -->
  <div class="carousel-track-container">
    <button class="carousel-btn c-b-left ">
      <span class="fa fa-angle-left"></span>
    </button>

    <ul class="carousel-track">
      <li class="carousel-slide">
        <img class="carousel-image" src="../../assets/img/panels/img_01.jpg" alt="">
      </li>

      <li class="carousel-slide">
        <img class="carousel-image" src="../../assets/img/panels/img_02.jpg" alt="">
      </li>

      <li class="carousel-slide">
        <img class="carousel-image" src="../../assets/img/panels/img_03.jpg" alt="">
      </li>
    </ul>
    <button class="carousel-btn c-b-right">
      <span class="fa fa-angle-right"></span>
    </button>
  </div>

  <div class="carousel-nav">
    <button class="carousel-indicator curent-slide"></button>
    <button class="carousel-indicator"></button>
    <button class="carousel-indicator"></button>
  </div>

</div>



<div class="container-panel">
  <app-card-img-panel></app-card-img-panel>

</div>