*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.footer-body{
    width: 100%;
    height: 400px;
    background: rgb(160, 160, 160);
    padding: 80px 200px;
    display: flex;
    flex-direction: row;
}
h2{
    font-size: 25px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    font-family: "AsapRegular"
}
h2::after{
    content: '';
    display: block;
    height: 3px;
    width: 20%;
    background: currentColor;
    margin-top: 10px;
}
.footer-app-logo{
    height: 50px;
}
.footer-container{
    width: 350px;
    height: 100%;
    margin-right: 10px;
}
.footer-items{
    display: flex;
    flex-direction: column;
}
.footer-items > a{
    padding: 3px 10px;
    color: white;
    font-family: "MuseoSans";
    font-size: 19px;
}

.footer-items > a:hover{
    cursor: pointer;
    text-decoration: underline;
}