<footer class="footer-body">

  <div class="footer-container">
    <a routerLink="/home">
      <img src="../../../assets/img/logo.png" alt="Devise" class="footer-app-logo" routerLink="home">
    </a>
  </div>

  <div class="footer-container">
    <h2>Links uteis</h2>
    <div class="footer-items">
      <a>Entrar</a>
      <a>Sobre</a>
      <a>Termos de Uso</a>
      <a>Ajuda</a>
    </div>
  </div>

  <div class="footer-container">
    <h2>Contato</h2>
    <div class="footer-items">
      <a><i class="fa fa-envelope"></i> devise@contact.com</a>
      <a><i class="fa fa-phone"></i> 0800 121 123</a>
      <a> <i class="fa fa-map-marker"></i> rua Central 1 Nº 217 <br> centro  Quixadá-CE <br>CEP: 63900-000</a>
    </div>
  </div>

</footer>